<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BD converter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename = "bootstrap-4.5.3/css/bootstrap.min.css") }}'>
    <script src='{{ url_for("static", filename = "js/jquery-3.5.1.min.js") }}'></script>
    <script src='{{ url_for("static", filename = "bootstrap-4.5.3/js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename = "js/app.js") }}'></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BD - PDF 2 CBZ</a>
    </nav>

    <div class="container my-4">

        {% if pdf_list | length > 0 %}

            <div class="row form-group">
                <label class="col-4">Sélectionner les BDs a convertir</label>
                <div class="col-8">
                    <select id="target" class="form-control">
                        {% for pdf in pdf_list %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-4">DPI (min 0)</label>
                <div class="col-8">
                    <input id="dpi" type="number" class="form-control" value="200" min="0" step="1">
                </div>
            </div>

            <div class="row form-group">
                <label class="col-4">JPEG qualité (entre 0 et 100)</label>
                <div class="col-8">
                    <input id="jpeg_quality" type="number" class="form-control" value="100" min="0" max="100" step="1">
                </div>
            </div>
            <button id="submit_button" class="btn btn-primary">Convertir</button>
            <div id="result" class="my-4"></div>
        
        {% else %}
            <div class="alert alert-info">Aucun pdf a convertir.</div>
        {% endif %}

        <hr>
        <ul>
            <li>Les PDF doivent être déposés dans le dossier : '{{ bd_dir }}'</li>
            <li>Les CBZ seront créés dans le même dossier.</li>
        </ul>
    </div>

</body>
</html>